html, body {
  margin: 0;
  padding: 0;
  background: #000;
}

select{
  border: none;
  font-weight:bold;
  font-size: 9px;
  color: #555;
  /*border-bottom: 1px solid #000;*/
  box-shadow: none;
  background: #ddd;
  /*-webkit-appearance: none;
  -webkit-border-radius: 0px;*/
  /*border: 0;*/
  outline: 0px solid #555;
  background-color: transparent;
  height: 30px;
  width: 120px;
}

select:option{
  background-color: white;
  border: none;
  
}